 
  * {
    font-family: "Geist", sans-serif;
  }

  .status-badge {
    display: inline-block;
    padding: 8px 12px;
    margin-top: 12px;
    font-size: 14px;
    border-radius: 6px;
  }

  .badge-interview {
    background-color: #15803d;
    color: #FFFFFF;
    font-weight: 700;
  }

  .badge-rejected {
    background-color: #b91c1c;
    color: #FFFFFF;
    font-weight: 700;
  }
  .card-style {
  transition: all 0.3s ease;
  cursor: pointer;
  
 }

  .card-style:hover {
   transform: translateY(-8px) scale(1.04);
   box-shadow: 0 20px 30px rgba(0, 0, 0, 0.1);
   background-color: beige;
  
 }

 
 

